<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학생 정보</title>
</head>
<body>
    <h1>Student List:</h1>
    {% if students %}
    {% for stu in students %}
    <ol>
        <li>이름 : {{stu.name}}</li>
        <li>id : {{stu.studentId}}</li>
        <li>나이 : {{stu.age}}</li>
        <li>성별 : {{stu.gender}}</li>
        <li>학년 : {{stu.grade}}</li>
    </ol>   
    {% endfor %}
    {% else %}
    <p>데이터가 없습니다</p>
    {% endif %}    
</body>
</html>